{namespace klog}

{template .header}
    {@param? title: string}
    <!DOCTYPE html>
        <html>
        <head>
            <title>{$title ?: 'Klog'}</title>
        </head>
        <body>
{/template}

{template .footer}
    {if $ij.user}
        <p>
            signed user: {$ij.user.displayName}
        </p>
    {/if}
    </body>
    </html>
{/template}
