{namespace klog.post}

{template .post}
    {@param post: [id: int, title: string, text: string]}
    {call klog.header}
        {param title: $post.title /}
    {/call}
    <h1>{$post.title}</h1>

    {$post.text}
    {call klog.footer /}
{/template}
