{namespace klog.backend}

{template .index}
    {call klog.header}
        {param title: 'Backend' /}
    {/call}
        <h1>Hello admin!</h1>
        <ul>
            <li><a href="/admin/post/add">Add post</a></li>
        </ul>
    {call klog.footer /}
{/template}